<!DOCTYPE HTML 
PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="static/css/index.css" />
        <link rel="stylesheet" type="text/css" href="static/css/shadowbox.css" />
        <script type="text/javascript" src="static/js/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="static/js/slide.js"></script>
        <script type="text/javascript" src="static/js/shadowbox.js"></script>
        <script type="text/javascript">
            Shadowbox.init({
                    overlayOpacity: 0.9
            });
        </script>
        <title>自强招新 - join us！</title>
    </head>
    <body>
        <!-- wrapper start -->
        <div id="wrapper">
        <div id="frame_left">
            <a href="javascript:location.reload()"><div id="frame_left_logo"></div></a>
            <ul>
                <li class="center_logo center_logo_left" id="manage" onclick="nav_slide('nav_for_site','nav_for_manage');content_slide('site_main','manage_main');"></li>
                <li class="center_logo center_logo_right" id="news" onclick="nav_slide('nav_for_site','nav_for_news');content_slide('site_main','news_main');"></li>
                <li class="center_logo center_logo_left" id="tech" onclick="nav_slide('nav_for_site','nav_for_tech');content_slide('site_main','tech_main');"></li>
                <li class="center_logo center_logo_right" id="scheme" onclick="nav_slide('nav_for_site','nav_for_scheme');content_slide('site_main','scheme_main');"></li>
                <li class="center_logo center_logo_left" id="resource" onclick="nav_slide('nav_for_site','nav_for_resource');content_slide('site_main','resource_main');"></li>
            </ul>
        </div>
        <div id="frame_right">
            <div class="frame_right_nav" id="nav_for_site">
                <span class="site_name">自强学堂网站</span>
                <span id="aboutus">About Us</span>
            </div>
            <div class="frame_right_nav" id="nav_for_join">
                <span class="arrow_spec" onclick="nav_slide('nav_for_join','nav_for_site');content_slide('join_main','site_main');"></span>
                <span class="site_name">自强学堂网站</span>
                <span id="joinus">Join Us</span>
		<span class="error" id="err"></span>
		<br />
            </div>
            <div class="frame_right_nav" id="nav_for_manage">
                <span class="arrow" onclick="nav_slide('nav_for_manage','nav_for_site');content_slide('manage_main','site_main');"></span>
                <span class="center_name">站务管理中心</span>
                <ul>
                    <li class="department">中心简介</li>
                    <li class="department" onclick="content_slide('manage_main','coordinate');">协调管理部</li>
                    <li class="department" onclick="content_slide('manage_main','teambuild');">团队建设部</li>
                </ul>
            </div>
            <div class="frame_right_nav" id="nav_for_news">
                <span class="arrow" onclick="nav_slide('nav_for_news','nav_for_site');content_slide('news_main','site_main');"></span>
                <span class="center_name">新闻中心</span>
                <ul>
                    <li class="department">中心简介</li>
                    <li class="department" onclick="content_slide('news_main','reporter');">记者团</li>
                    <li class="department" onclick="content_slide('news_main','photo');">摄影组</li>
                    <li class="department" onclick="content_slide('news_main','wireless');">无线服务部</li>
                </ul>
            </div>
            <div class="frame_right_nav" id="nav_for_tech">
                <span class="arrow" onclick="nav_slide('nav_for_tech','nav_for_site');content_slide('tech_main','site_main');"></span>
                <span class="center_name">技术中心</span>
                <ul>
                    <li class="department">中心简介</li>
                    <li class="department" onclick="content_slide('tech_main','design');">视觉设计部</li>
                    <li class="department" onclick="content_slide('tech_main','dev');">代码研发部</li>
                </ul>
            </div>
            <div class="frame_right_nav" id="nav_for_scheme">
                <span class="arrow" onclick="nav_slide('nav_for_scheme','nav_for_site');content_slide('scheme_main','site_main');"></span>
                <span class="center_name">策划中心</span>
                <ul>
                    <li class="department">中心简介</li>
                    <li class="department" onclick="content_slide('scheme_main','pr');">公关企划部</li>
                    <li class="department" onclick="content_slide('scheme_main','liaison');">外联部</li>
                    <li class="department" onclick="content_slide('scheme_main','netpromote');">网络推广部</li>
                </ul>
            </div>
            <div class="frame_right_nav" id="nav_for_resource">
                <span class="arrow" onclick="nav_slide('nav_for_resource','nav_for_site');content_slide('resource_main','site_main');"></span>
                <span class="center_name">栏目中心</span>
                <ul>
                    <li class="department">中心简介</li>
                    <li class="department" onclick="content_slide('resource_main','miao');">毛线社区</li>
                    <li class="department" onclick="content_slide('resource_main','edu');">自强科教</li>
                    <li class="department" onclick="content_slide('resource_main','bbs');">茶馆BBS</li>
                    <li class="department" onclick="content_slide('resource_main','video');">视频部</li>
                </ul>
            </div>
<!--	{% if error %} -->
<!--	<span class="error">Please complete all columns in the form</span> -->
<!--	{% endif %} -->

<!-------------------------------------------------------------------------------->
            <!-- site_main start -->
            <p class="frame_right_content" id="site_main">
	    {% for i in content %}
	    {{ i.sitemain }}
	    {% endfor %}
            </p>
            <!-- site_main end -->

<!-------------------------------------------------------------------------------->
            <!-- manage_main start -->
            <p class="frame_right_content" id="manage_main">
	    {% for i in content %}
	    {{ i.managemain }}
	    {% endfor %}
            </p>
            <!-- manage_main end -->
            <p class="frame_right_content" id="coordinate">
	    {% for i in content %}
	    {{ i.coordinate }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="teambuild">
	    {% for i in content %}
	    {{ i.teambuild }}
	    {% endfor %}
            </p>

<!-------------------------------------------------------------------------------->
            <!-- news_main start -->
            <p class="frame_right_content" id="news_main">
	    {% for i in content %}
	    {{ i.newsmain }}
	    {% endfor %}
            </p>
            <!-- news_main end -->
            <p class="frame_right_content" id="reporter">
	    {% for i in content %}
	    {{ i.reporter }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="photo">
	    {% for i in content %}
	    {{ i.photo }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="wireless">
	    {% for i in content %}
	    {{ i.wireless }}
	    {% endfor %}
            </p>

<!-------------------------------------------------------------------------------->
            <!-- tech_main start -->
            <p class="frame_right_content" id="tech_main">
	    {% for i in content %}
	    {{ i.techmain }}
	    {% endfor %}
            </p>
            <!-- tech_main end -->
            <p class="frame_right_content" id="design">
	    {% for i in content %}
	    {{ i.design }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="dev">
	    {% for i in content %}
	    {{ i.dev }}
	    {% endfor %}
            </p>

<!-------------------------------------------------------------------------------->
            <!-- scheme_main start -->
            <p class="frame_right_content" id="scheme_main">
	    {% for i in content %}
	    {{ i.schememain }}
	    {% endfor %}
            </p>
            <!-- scheme_main end -->
            <p class="frame_right_content" id="pr">
	    {% for i in content %}
	    {{ i.pr }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="liaison">
	    {% for i in content %}
	    {{ i.liaison }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="netpromote">
	    {% for i in content %}
	    {{ i.netpromote }}
	    {% endfor %}
            </p>


<!-------------------------------------------------------------------------------->
            <!-- resource_main start -->
            <p class="frame_right_content" id="resource_main">
	    {% for i in content %}
	    {{ i.resourcemain }}
	    {% endfor %}
            </p>
            <!-- resource_main end -->
            <p class="frame_right_content" id="miao">
	    {% for i in content %}
	    {{ i.miao }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="edu">
	    {% for i in content %}
	    {{ i.edu }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="bbs">
	    {% for i in content %}
	    {{ i.bbs }}
	    {% endfor %}
            </p>
            <p class="frame_right_content" id="video">
	    {% for i in content %}
	    {{ i.video }}
	    {% endfor %}
            </p>

<!-------------------------------------------------------------------------------->
<!-------------------------------------------------------------------------------->
            <!--start apply form-->
            <form action="" method="post">
            <p class="frame_right_content" id="join_main">
                <span class="item_tag">姓名</span>
                <input type="text" name="name" class="input_tag" id="name"/>
                <select name="sex" class="menu_short">
                    <option value="none" selected="selected">性别</option>
                    <option value="male">男</option>
                    <option value="female">女</option>
                </select>
                <br />
                <span class="item_tag">学院</span>
                <input type="text" name="collegename" class="input_tag" id="college"/>
                <select name="grade" class="menu_short">
                    <option value="none" selected="selected">年级</option>
                    <option value="junior1">大一</option>
                    <option value="junior2">大二</option>
                    <option value="junior3">大三</option>
                    <option value="junior4">大四</option>
                    <option value="senior1">研一</option>
                    <option value="senior2">研二</option>
                    <option value="doctor">博士</option>
                </select>
                <br />
                <span class="item_tag">手机</span>
                <input type="text" name="mobile" class="input_tag" id="mobile"/>
                <br />
                <span class="item_tag">寝室</span>
                <input type="text" name="dorm" class="input_tag" id="dorm"/>
                <br />
                <span class="item_tag">邮箱</span>
                <input type="text" name="mail" class="input_tag" id="mail"/>
                <br />
                <span class="item_tag">优点</span>
                <input type="text" name="advantages" class="input_tag" id="advantg"/>
                <br />
                <select name="first_department" class="menu_long">
                    <option value="none" selected="selected">最想加入的部门</option>
                    <option value="design">视觉设计部</option>
                    <option value="dev">代码研发部</option>
                    <option value="teambuild">团队建设部</option>
                    <option value="coordinate">协调管理部</option>
                    <option value="reporter">记者团</option>
                    <option value="video">摄影组</option>
                    <option value="wireless">无线服务部</option>
                    <option value="pr">公关企划部</option>
                    <option value="liaison">外联部</option>
                    <option value="netpromote">网络推广部</option>
                    <option value="miao">毛线社区</option>
                    <option value="edu">自强科教</option>
                    <option value="bbs">茶馆BBS</option>
                    <option value="video">视频部</option>
                </select>
                <br />
                <select name="second_department" class="menu_long">
                    <option value="none" selected="selected">次想加入的部门</option>
                    <option value="design">视觉设计部</option>
                    <option value="dev">代码研发部</option>
                    <option value="teambuild">团队建设部</option>
                    <option value="coordinate">协调管理部</option>
                    <option value="reporter">记者团</option>
                    <option value="video">摄影组</option>
                    <option value="wireless">无线服务部</option>
                    <option value="pr">公关企划部</option>
                    <option value="liaison">外联部</option>
                    <option value="netpromote">网络推广部</option>
                    <option value="miao">毛线社区</option>
                    <option value="edu">自强科教</option>
                    <option value="bbs">茶馆BBS</option>
                    <option value="video">视频部</option>
                </select>
                <br />
                <textarea name="reason" onfocus="if(this.value=='为什么要加入自强，请给出自强录用你的理由。'){this.value=''};this.style.color='#424242'" onblur="if(this.value==''){this.value='为什么要加入自强，请给出自强录用你的理由。';this.style.color='#979797'}" id="reason">为什么要加入自强，请给出自强录用你的理由。</textarea>
                <br />
                <input type="submit" value="报名" id="submit_button" onclick="return countchar()" />
            </p>
            </form>
            <!--end apply form-->
            <div id="frame_right_button">
                <ul>
                    <li class="show_pic">
                        <a href="static/pic/pic1.jpg" rel="shadowbox[ziqiang]" title="说明文字">
                            <img src="static/pic/pic1.jpg" alt="pic1" onmouseover="this.className='zoomin'" onmouseout="this.className='zoomout'" id="pic1" />
                        </a>
                    </li>
                    <li class="show_pic">
                        <a href="static/pic/pic2.jpg" rel="shadowbox[ziqiang]" title="说明文字">
                            <img src="static/pic/pic2.jpg" alt="pic2" onmouseover="this.className='zoomin'" onmouseout="this.className='zoomout'" id="pic2" />
                        </a>
                    </li>
                    <li class="show_pic">
                        <a href="static/pic/pic3.jpg" rel="shadowbox[ziqiang]" title="说明文字">
                            <img src="static/pic/pic3.jpg" alt="pic3" onmouseover="this.className='zoomin'" onmouseout="this.className='zoomout'" id="pic3" />
                        </a>
                    </li>
                    <li class="show_pic">
                        <a href="static/pic/pic4.jpg" rel="shadowbox[ziqiang]" title="说明文字">
                            <img src="static/pic/pic4.jpg" alt="pic4" onmouseover="this.className='zoomin'" onmouseout="this.className='zoomout'" id="pic4" />
                        </a>
                    </li>
                    <li class="show_pic">
                        <a href="static/pic/pic5.jpg" rel="shadowbox[ziqiang]" title="说明文字">
                            <img src="static/pic/pic5.jpg" alt="pic5" onmouseover="this.className='zoomin'" onmouseout="this.className='zoomout'" id="pic5" />
                        </a>
                    </li>
                    <li class="show_pic" onclick="nav_slide('nav_for_site','nav_for_join');content_slide('site_main','join_main');"></li>
                </ul>
            </div>
        </div>
        <div id="footer">
            ©<span class="weak_highlight"><a href="http://www.ziqiang.net/">ziqiang.net</a></span>
            &nbsp;
            remarkable design by <span class="weak_highlight"><a href="http://www.renren.com/286685322/profile/">wiilen</a></span> &amp; developing by <span class="weak_highlight"><a href="http://www.douban.com/people/sigma_root/">sigma</a></span>
        </div>
        <!--this is end of wrapper -->
        </div>
    </body>
</html>
